*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    min-height: 100dvh;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto;

    font-family: "Biryani", serif;
    font-weight: 400;
    font-style: normal;
}


.wrapper {
    position: relative;
}

.globalnav {
    display: flex;

    background-color: #1b5340;

    font-family: "Special Elite", serif;
    font-weight: 400;
    font-style: normal;

    position: absolute;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.globalnav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.globalnav ul li {
    list-style: none;
    font-size: 18px;
}

.globalnav ul li a {
    text-decoration: none;
    color: rgb(255, 240, 243);
    font-weight: bold;

    display: block;
    padding: 1rem;

    &:hover {
        background-color: rgb(255, 240, 243);
        color: #114232;

    }
}

/* *****************Slänga skräp*******************************' */


.fusk1 {
    background-color: rgba(133, 129, 123, 0.651);
    height: calc(100% - 2rem);
    max-width: 60ch;
    padding: 1rem;
    margin: 1rem;
}

article.bin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 1rem; */



}

article img {
    width: 100%;
}

.bin__info {
    width: 100%;
    padding: 1rem;
}

.bin__info>*:first-child {
    margin-top: 0;
    /* background-color: #8AF8B6; */
}

.bin img {
    height: 400px;
}

.bin {
    background-color: #e7ecd5;

}



.hej {
    padding-bottom: 5.4rem;

}